*{
    margin: 0;
    padding: 0;
}

.logotitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    
}

.titulo{    
    font-weight: bold;
    font-size: 110px;}

.enlaces li{
    padding: 20px;
    font-size: 30px;
}             

.enlaces li a{
    text-decoration: none;
    color: #000000;
}

.silla{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    border: 05px solid #000;
}

.animate__animated{
    height: 500px;
    width: 600px;
}
.img4{
    height: 500px;
    width: 600px;
}

.silla2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    border: 05px solid #000;
}


.img5{
    height: 500px;
    width: 600px;
}

.text1{
    font-size: 40px;
    margin: 150px;
}

.img1{
    height: 130px;
    width: 150px;
}

footer{
    display: flex;
}

.footer_div{
    margin: 20px;
}

.redes{
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 50px;   
    margin: 0px 200px; 
}

.contenido{
    background-color: #ffffff;
    margin: 10px;
}
/*.cuerpo{
    display: grid;
    grid-template-areas: 
    "navegador navegador"
    "menu menu"
    "foter foter";
    gap: 0px 0px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 5fr 0.2fr;
    margin: 10px;
    background-image: linear-gradient(gray,black);
}*/

/*.navegador{
    grid-area: navegador;
}

.contenido{
    grid-area: menu;
}

.footer{
    grid-area: foter;
}

/*@media  screen and (max-width:768px){
    .cuerpo{
        grid-template-columns: auto auto;
        grid-template-rows: 0.1fr 3fr 0.2fr;
        grid-template-areas: 
        "navegador navegador"
        "menu menu"
        "foter foter";
    }
    ul{
        justify-content: center;
    }
    .img4{
        width: 500px;
    }
    .img5{
        width: 500px;
    }
    .text1{
        width: 220px;
        font-size: 25px;
    }
    .redes{
        height: 40px;
        width: 40px;
        margin: 30px 100px;
    }
}

@media (max-width:500px){
    .cuerpo{
        grid-template-columns: auto;
        grid-template-rows: 0.2fr 2fr 0.2fr;
        grid-template-areas: 
            "navegador"
            "menu"
            "foter";
    }
    ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .text1{
        display: none;
    }
    .img4{
        height: 400px;
        width: 500px;
    }
    .img5{
        height: 400px;
        width: 500px;
    }
    .img1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 100px;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 70px;
    }
        .contenido{
        flex-direction: column;
        align-items: flex-start;
    }
}*/

/*CONTACTO*/

.p1{
    padding: 10px;
    margin: 10px;
}

.p2{
    padding: 10px;
    margin: 10px;
}

.p3{
    padding: 10px;
    margin: 10px;
}

.p5{
    padding: 10px;
    margin: 10px;
}

.textmen{
    padding: 12px;
    width: 400px;
}

/*PRODUCTO*/ 

.titulo_producto{
    background-color: #ffffff;
}

.fondo{
    background-color: #000;
}

.caro{
    margin: 50px 0px 0px 0px;
    padding: 100px;
}

.img2{
    width: 100%;
    height: auto;
}

/*SOBRENOSOTROS*/

.titulosobre{
    font-size: 50px;
}

.textsobre{
    font-size: 40px;
    font-style: italic;
}

/*ARMARTUSILLA*/

.videotutorial{
    width: 800px;
    height: 600px;
    padding: 20px;
}

.h2{
    font-size: 40px;
    padding: 20px;
}

.img3{
    display: inline;
    margin: 10px;
    width: 600px;
    height: 600px;
}

.p{
    display: inline;
    font-size: 30px;
    padding: 0px 250px;
    background-color: #000000;
    color: #ffffff;
    width: 20px;
}

.p4{
    display: inline;
    padding: 0px 270px;
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
}