* {
  margin: 0;
  padding: 0; }

.cuerpo {
  display: grid;
  grid-template-areas: "navegador navegador" "menu menu" "foter foter";
  gap: 0px 0px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 5fr 0.2fr;
  margin: 10px;
  background-image: linear-gradient(#57065f, #790976, #020024); }

.navegador {
  grid-area: navegador; }
  .navegador .logotitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff; }
    .navegador .logotitulo .img1 {
      height: 130px;
      width: 150px; }
    .navegador .logotitulo .titulo {
      font-weight: bold;
      font-size: 110px; }
  .navegador .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px; }
    .navegador .enlaces .menu {
      padding: 20px;
      font-size: 30px;
      text-decoration: none;
      color: #ffffff; }

.contenido {
  margin: 50px;
  grid-area: menu; }
  .contenido .silla {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 20px; }
    .contenido .silla .img4 {
      height: 500px;
      width: 600px; }
    .contenido .silla .text1 {
      font-size: 40px;
      margin: 150px;
      color: #ffffff; }
  .contenido .silla2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    margin: 20px; }
    .contenido .silla2 .img5 {
      height: 500px;
      width: 600px; }
    .contenido .silla2 .text1 {
      font-size: 40px;
      margin: 150px;
      color: #ffffff; }

.footer {
  grid-area: foter; }
  .footer .footer_div {
    margin: 20px; }
    .footer .footer_div .redes {
      height: 50px;
      width: 50px;
      margin: 0px 200px; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacto .p1 {
    padding: 10px;
    margin: 10px; }
  .contacto .p2 {
    padding: 10px;
    margin: 10px; }
  .contacto .p3 {
    padding: 10px;
    margin: 10px; }
  .contacto .p5 {
    padding: 10px;
    margin: 10px; }
  .contacto .textmen {
    padding: 12px;
    width: 400px; }

.conte {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px; }
  .conte .img2 {
    margin: 10px;
    width: 700px;
    height: 700px;
    border-radius: 70%; }

.contenido .titulosobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color: #ffffff; }

.contenido .textsobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
  color: #ffffff; }

.fondo {
  display: grid;
  grid-template-areas: "navegador navegador" "menu menu" "foter foter";
  gap: 0px 0px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 5fr 0.2fr;
  margin: 10px;
  background-image: linear-gradient(#57065f, #790976, #020024); }

.navegador .titulo2 {
  font-weight: bold;
  font-size: 55px; }

.main {
  grid-area: menu; }
  .main .h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
    color: #ffffff; }
  .main .video {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main .video .videotutorial {
      width: 800px;
      height: 600px;
      padding: 20px; }
  .main .ejem_silla {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main .ejem_silla .p {
      font-size: 30px;
      padding: 0px 270px;
      background-color: #000000;
      color: #ffffff;
      border: 02px solid #ffffff; }
    .main .ejem_silla .p4 {
      padding: 0px 300px;
      background-color: #000000;
      color: #ffffff;
      font-size: 30px;
      border: 02px solid #ffffff; }
  .main .ejem_fotos {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main .ejem_fotos .img3 {
      margin: 10px;
      width: 600px;
      height: 600px; }

@media screen and (max-width: 768px) {
  .cuerpo {
    grid-template-columns: auto auto;
    grid-template-rows: 0.1fr 3fr 0.2fr;
    grid-template-areas: "navegador navegador" "menu menu" "foter foter"; }
    .cuerpo .enlaces {
      justify-content: center; }
    .cuerpo .img4 {
      width: 500px;
      height: 550px; }
    .cuerpo .img5 {
      width: 500px;
      height: 580px; }
    .cuerpo .text1 {
      width: 220px;
      font-size: 25px; }
    .cuerpo .redes {
      height: 40px;
      width: 40px;
      margin: 30px 100px; } }

@media (max-width: 500px) {
  .cuerpo {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    grid-template-areas: "navegador" "menu" "foter"; }
    .cuerpo .enlaces {
      flex-direction: column;
      align-items: flex-start; }
    .cuerpo .text1 {
      display: none; }
    .cuerpo .img4 {
      height: 400px;
      width: 500px; }
    .cuerpo .img5 {
      height: 400px;
      width: 500px; }
    .cuerpo .img1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      height: 100px; }
    .cuerpo .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 70px; }
    .cuerpo .contenido {
      flex-direction: column;
      align-items: flex-start; }
    .cuerpo .footer_div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
    .cuerpo .redes {
      height: 40px;
      width: 40px;
      margin: 0px 0px; } }
