.fondo{
    display: grid;
    grid-template-areas: 
    "navegador navegador"
    "menu menu"
    "foter foter";
    gap: 0px 0px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 5fr 0.2fr;
    margin: 10px;
    background-image: linear-gradient(#57065f,#790976,#020024);
}

.navegador{
    .titulo2{
        font-weight: bold;
        font-size: 55px;}
}

.main{
    grid-area: menu;
    .h2{
        @include flex;
        font-size: 30px;
        padding: 20px;
        color: #ffffff;}
    .video{
        @include flex;
        .videotutorial{
            width: 800px;
            height: 600px;
            padding: 20px;
        }
    }
    .ejem_silla{
        @include flex;
        .p{
            font-size: 30px;
            padding: 0px 270px;
            background-color: #000000;
            color: #ffffff;
            border: 02px solid #ffffff;
        }
        .p4{
            padding: 0px 300px;
            background-color: #000000;
            color: #ffffff;
            font-size: 30px;
            border: 02px solid #ffffff;
        }
    }
    .ejem_fotos{
        @include flex;
        .img3{
            margin: 10px;
            width: 600px;
            height: 600px;
        }
    }
}