.contenido{
    .titulosobre{
        @include flex;
        font-size: 40px;
        color: #ffffff;
        margin: 60px;}
    .textsobre{    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 40px;
        font-style: italic;
        color: #ffffff;}
        padding: 15px;
}

