.contenido{
    .titulosobre{
        @include flex;
        font-size: 40px;
        color: #ffffff;
        margin: 10px;}
    .textsobre{    
        @include flex;
        font-size: 40px;
        font-style: italic;
        color: #ffffff;}
}

