.navegador{
    .titulo3{    
        font-weight: bold;
        font-size: 110px;}
    }

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    .p1{
        color: beige;
        padding: 10px;
        margin: 10px;}
    .p2{
        @extend .p1;}
    .p3{
        @extend .p1;}
    .p5{
        @extend .p1}
    .textmen{
        padding: 12px;
        width: 400px;}
}

