*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    display: grid;
    grid-template-areas: 
    "navegador navegador"
    "menu menu"
    "foter foter";
    gap: 0px 0px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 5fr 0.2fr;
    margin: 10px;
    background-image: linear-gradient(#57065f, #790976, #020024);;
}

.navegador{
    grid-area: navegador;
    .logotitulo{
        @include flex;
        color: #ffffff;
        .img1{
            @include medidas(150px,130px);}
        .titulo{    
            font-weight: bold;
            font-size: 110px;}
        }
        .enlaces{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style-type: none;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            .menu{
                padding: 20px;
                font-size: 30px;
                text-decoration: none;
                color: #ffffff;}             
        }
}

.contenido{
    margin: 50px;
    grid-area: menu;
    .silla{
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        margin: 20px;
        .img4{
            @include medidas(500px,550px);}
        .text1{
        font-size: 40px;
        margin: 150px;
        color: #ffffff;}
    }
    .silla2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        height: auto;
        margin: 20px;
        .img5{
            @include medidas(500px,600px);}
        .text1{
        font-size: 40px;
        margin: 150px;
        color: #ffffff;}
    }
}

.footer{
    grid-area: foter;
    .footer_div{
        @include foter;
        .redes{
            @include medidas(50px,50px); 
            margin: 0px 0px;}
    }
}

