@media  screen and (max-width:768px){
.cuerpo{
        grid-template-columns: auto auto;
        grid-template-rows: 0.1fr 3fr 0.2fr;
        grid-template-areas: 
        "navegador navegador"
        "menu menu"
        "foter foter";
        .enlaces{
        justify-content: center;}
        .img4{
        @include medidas(500px,550px);}
        .img5{
        @include medidas(500px,580px);}
        .text1{
        width: 220px;
        font-size: 25px;}
        .redes{
        @include medidas(40px,40px);
        margin: 30px 100px;}
}
}


@media screen and (max-width:500px){
.cuerpo{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr 0.2fr;
        grid-template-areas: 
        "navegador"
        "menu"
        "foter";
        .enlaces{
                flex-direction: column;
                align-items: flex-start;}
        .text1{
                display: none;}
        .img4{
                height: 400px;
                width: 500px;}
        .img5{
                height: 400px;
                width: 500px;}
        .img1{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                height: 100px;}
        .titulo{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 70px;}
                .contenido{
                flex-direction: column;
                align-items: flex-start;}
                .footer_div{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;}
        .redes{
                height: 40px;
                width: 40px;
                margin: 0px 0px;}
    }
}