.fondo2{
    @extend .fondo;
}

.navegador2{
    @extend .navegador;
    grid-area: navegador;
    .logotitulo2{
    @include flex;
    color: #ffffff;}
    .img1{
        @include medidas(150px,130px);
        justify-content: center;}
    .titulo{   
        font-weight: bold;
        font-size: 110px;
        justify-content: center;}
        .enlaces{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style-type: none;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            .menu{
                padding: 20px;
                font-size: 30px;
                text-decoration: none;
                color: #ffffff;}             
        }
}
.conte{
    grid-area: menu;
    @include flex;
    flex-wrap: wrap;
    margin: 30px;
    .img2{
        margin: 10px;
        @include medidas(700px,700px);
        border-radius: 70%;}
} 
.footer{
grid-area: foter;
.footer_div2{
    @include foter;
    .redes{
        @include medidas(50px,50px); 
        margin: 0px 0px;}
}
}
